.App {
  background-color: #f2f2f2;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  &-header {
    background-color: #ffffff;
    position: relative;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    // box-shadow: 0 2px 8px rgba(12, 12, 13, 0.1);
    // border-bottom: 1px solid #f3f3f3;

    &-actions {
      max-width: 800px;
      width: 90vw;

      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-self: center;

      margin: 0 12px;

      .menu,
      .search {
        cursor: pointer;
        position: relative;
        color: #ffffff;
        box-shadow: 0 2px 8px rgba(12, 12, 13, 0.1);
        height: 40px;
        width: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
      }

      .menu {
        background-color: #4a3d3c;
        border-radius: 6px;
      }

      .search {
        border-radius: 50%;
        background-color: #d97e79;
      }

      .logo {
        height: 4.5rem;
      }
    }

    &-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 6px 0;

      .link {
        margin-right: 6px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-main {
    position: relative;
    background-color: #fff;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .article {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 1.5rem;

      &:first-child {
        margin-top: 1.5rem;
      }

      &-cover {
        box-shadow: 0px 6px 30px rgba(#000000, 0.4);
        max-width: 800px;
        width: 90vw;
        height: 20vh;
        object-fit: cover;
        // border-radius: 2px 2px 0 0;
      }

      &-meta {
        padding: 6px;
        // background-color: #ffffff;
        position: relative;
        max-width: 800px;
        width: 90vw;
        // border-radius: 0 0 2px 2px;

        p {
          margin-top: 6px;
          margin-bottom: 6px;
        }

        div {
          font-size: small;
          color: #0c0c0d;
        }
      }
    }
  }

  &-footer {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 0;
    color: gray;
    // background-color: #f2f2f2;
  }
}

.btn-container {
  width: 100%;
  // background-color: gray;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding-bottom: 1.5rem;
}

.more-btn {
  @extend .btn;
  padding: 0 30px;
}

.top-btn {
  @extend .btn;

  width: 40px;
  margin-bottom: 0.5rem;

  img {
    height: 13px;
  }
}

.btn {
  cursor: pointer;
  background-color: #d97e79;
  height: 40px;
  box-shadow: 0 2px 8px rgba(12, 12, 13, 0.1);
  color: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  margin: 1.5rem;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #4a3d3c;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
